@model Rental


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hot Wheels | Car Rental</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">



    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mt-5">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-car"></i> Hot Wheel Car Rental
                    <small class="float-right">Date: @String.Format("{0:dd MMM yyyy HH:mm}", ViewBag.Rental.CreatedAt).ToString()</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    Nizami küçəsi 203B<br>
                    AF Business House, 2-ci mərtəbə<br>
                    Baku 1000, Azerbaijan<br />
                    Phone: +994 55 347 08 80<br>
                    Email: hwcarrental@bk.ru
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  Kimə
                  <address>
                    <strong></strong><br>
                    @Model.User.PhoneNumber<br>
                    @Model.User.Email
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Invoice #</b><br>
                  <strong>@ViewBag.Rental.InvoiceNo</strong>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Avtomobil</th>
                      <th>Tarix</th>
                      <th>Günlük qiymət</th>
                      <th></th>
                      <th>Yekun qiymət</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td></td>
                      <td>@String.Format("{0:dd MMM yyyy HH:mm}", ViewBag.RentDate).ToString() - @String.Format("{0:dd MMM yyyy HH:mm}", ViewBag.ReturnDate).ToString()</td>
                      <td>&#8380;@Model.Car.DailyPrice</td>
                      <td></td>
                      <td><span>&#8380;<span id="totalPrice"></span></span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <div class="table-responsive" style="overflow: hidden;">
                    <div class="row">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6" style="text-align: end;">
                        <h3> <span></span></h3> 
                        @*<hr>*@
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Çap et</a>
                  <button type="button" class="btn btn-success float-right"><i class="far fa-envelope"></i> E-poçt göndər
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-home"></i> Əsas səhifəyə qayıt
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- ./wrapper -->


    @*<input value="@Model.RentDate" id="startDate" hidden/>
    <input value="@Model.ReturnDate" id="endDate" hidden/>
    <input value="@Model.Car.DailyPrice" id="dailyPrice" hidden/>*@



<!-- jQuery -->
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/admin/dist/js/demo.js"></script>
</body>
<script> 

         let startDate = document.getElementById("startDate")
         let endDate = document.getElementById("endDate")
         let dailyPrice = document.getElementById("dailyPrice")
         let totalPrice = document.getElementById("totalPrice")


             let date1= new Date(startDate.value)
             let date2= new Date(endDate.value)
             

             const diffTime = Math.abs(date2 - date1);
             const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
             totalPrice.innerHTML=diffDays*dailyPrice.value
     </script>
</html>

