@model List<Team>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <style>
                #tbody tr:nth-child(2){
                    text-align:center;
                }

                .zoom {
                  transition: transform .2s;
                  margin: 0 auto;
                }

                .zoom:hover {
                  -ms-transform: scale(1.5); /* IE 9 */
                  -webkit-transform: scale(1.5); /* Safari 3-8 */
                  transform: scale(1.5); 
                }
    </style>

}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Komanda üzvləri</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Komanda üzvləri</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Əməkdaş</th>
                    <th>Vəzifəsi</th>
                    <th>Əməliyyatlar</th>
                  </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                     {
                        if (@item.isDeleted==true)
                        {
                           <tr id="tbody">
                             <td>@item.Id</td>
                             <td>
                                 <div class="zoom">
                                     <img 
                                         class="mx-2"
                                         width="55" 
                                         height="55" 
                                         src="~/assets/images/member/@item.ImageUrl"
                                         style="border-radius:50%"/>
                                     @item.Name @item.Surname
                                 </div>
                             </td>
                             <td>@item.Position</td>
                             <td class="text-center">
                                 <a asp-action="backUp" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-rounded"><i class="fa fa-undo"></i></a>
                                 <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-rounded"><i class="fa fa-trash"></i></a>
                             </td>
                           </tr>
                        }
                     }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




@section Scripts{
    
   
}
